# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Mac OS
.DS_Store

# temporary 
sudoku.py

# Intellij
out/
/.settings/
*.iml
*.iws
*.ipr
.idea/

bin/source-secrets
hidden-resources
.hidden*